.bg-base {
    background-color: aqua;

}

.bg-secondary {
    background-color: blue;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

.footer-solar {
    padding: 1em;
}

/* Hero Section CSS */

.hero-section-solar {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    row-gap: 1em;


}

#bg-video {
 position: absolute;  
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: -1;

}

/* Feature Section CSS */

.btn-solar {
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--action);
    text-decoration: none;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: all 0.7s ease-in-out;
}

.btn-solar:hover {
    background-color: var(--action-hover);
}


.btn-solar a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.feature-section-solar {
    background-color: var(--primary);
}

.feature-section-img-solar {
    width: 100%;
    border-radius: var(--border-radius);
}

.full-section-solar {
    height: 100vh;
    background-image: url(/img/bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-section-solar h2 {
    text-align: center;
    font-size: 4rem;
}

.full-section-solar p {
    text-align: center;
    font-size: 1.5rem;
}

.btn-outline-solar {
    color: var(--action);
    padding: 10px 24px;
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
    border-radius: var(--border-radius);
    border-color: var(--action);
    transition: all 0.5s ease-in-out;
}

.btn-outline-solar:hover{
    color: black;
    background-color: var(--action-hover);
}

.quote-section-solar {
    background-color: var(--primary);
}

.quote-container-solar {
    background-color: var(--secondary);
    padding: 3em;
    margin: 2em;
    border-radius: var(--border-radius);
}

.video-section-solar {
    display: grid;
    margin-bottom: 3em;
}